Support IPv6-mapped IPv4 addresses

As reported on https://talk.desec.io/t/problem-setting-aaaa-record-to-7f00-1-http-error-500-on-api-and-ui:

It turns out that our internal input validation translates IP addresses prefixed with `0:0:0:0:0:0:` or `0:0:0:0:0:ffff:` into "alternate text format" such as `::ffff:127.0.0.1` (see [RFC 3513 Section 2.2 Number 3](https://tools.ietf.org/html/rfc3513#section-2.2)). It turns out that our backend nameserver does not understand that format.