api: lowercase domain names upon creation

Per RFC 4343, Section 4, case can be changed at input, and per Section 6, it is more or less recommended to do so. This allows us to deal with uniqueness constraints more easily.

If possible, allow users to see their preferred spelling.

It turns out that this does not provide a real advantage. (The uniqueness checks in our database are case-insensitive.)

This has surfaced again due to the recent collation changed and name comparisons are now binary (#166). We changed the collation because the previous one was accent-insensitive and caused issues with accented characters in domain names. The collation was also case-insensitive. The new collation does binary comparisons, i.e. it is sensitive to both case and accent.

Now, if domains are created in a specific capitalization, they are not found when the user sends requests for dyn updates or other API calls using a different capitalization. Solution approaches:

- Change collation for domain name column only. Not a good idea, because 1.) has to be done after Django creates the model tables, but Django does not support configuring the collations --> requires faw SQL statements; 2.) [MySQL has a general UTF8 collation (utf8mb4_0900_as_ci)](https://dev.mysql.com/doc/refman/8.0/en/charset-unicode-sets.html) that is case-insensitive, but accent-s, but MariaDB has not. [They suggest using a Thai or Turkish collation for the same effect](https://jira.mariadb.org/browse/MDEV-15182), but I doubt anyone will understand this in our code, so it would be hard to maintain. There's also a way to add custom collations, but that sounds like completely off the trail.
- Deal with it on the application layer, i.e. do some sort of normalization and get rid of the problem altogether. Downside: users will not see their preferred spelling.

I tend towards the latter approach as the first one seems rather unsuited to me. We can think about storing the user's preferred capitalization for display, but that may lead to consistency issues, and I'd rather not go there unless a customer asks for it. We don't even know if anyone would care.

ping @nils-wisiol 

@nils-wisiol In personal discussion we just agreed to follow the robustness principle, and lowercase domain name input in our serializer and use lowercase internally only. Domain names returned by the API will always be lowercased. For now, we do not implement a second field to represent the user's preferred spelling. Same applies for subnames.

@nils-wisiol It turns out that it is _very_ complicated to allow any-case input while lowercasing things internally. There are a very large number of locations in the code where lookups start to fail; also in the tests, the checks for the number of expected internal requests containing certain strings in the body etc. start failing.

I spent a few hours with this and then decided to strictly limit domain names and subnames to lowercase for now. If people start asking for more flexibility, we can still spend more time on this.

Closed via dd4b6ff